.agent-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

/**
* MAIN DIV CSS
*/
.main-div {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100vh;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 15px;
}

.main-body {
  display: flex;
  flex-direction: row;
}

