.login-register {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.app-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vh;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}

.app-logo {
  padding-left: 40px;
}

.app-title {
  padding-left: 10px;
}

.app-body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  padding: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.container-title {
  text-align: center;
}

.input-field {
  padding: 15px;
  width: 80%;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 80%;
  margin-top: 20px;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.submit-button:hover {
  background-color: #539ee4;
}