/* ================== MID BAR CSS =============== */

.mid-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5vh;
  /* background-color: aquamarine; */
} 

.left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.conversations {
  font-size: 1.8rem;
}

.quick-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 25px;
  margin-left: 20px;
  font-size: 0.8rem;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  color: #979797;
}

.quick-search-input {
  display: flex;
  align-items: center;
  border: none;
  margin-left: 10px;
  color: #979797;
  font-size: 0.8rem;
  outline: none;
  /* padding: 4px; */
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f6f2;
  margin-left: 20px;
  width: 80px;
  padding: 5px;
  border-radius: 25px;
}

.filter-icon {
  color: #797979;
}

.filter-text {
  text-align: center;
  font-size: 0.8rem;
  color: #797979;
  margin-left: 10px;
}

.online {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: 1px solid #e4e4e4;
  border-radius: 25px;
  padding: 5px;
}

.online-text {
  text-align: center;
  font-size: 0.8rem;
  color: #797979;
}

/* ================== MID BAR CSS - END =============== */