.tweet-body {
  display: flex;
  flex-direction: row;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 85%;
  height: 80vh;
  margin-top: 20px;
  margin-left: 20px;
}

.tweet-conversation {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px solid #e6e6ee;
}

.user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3vh;
  /* justify-content: center; */
  border-bottom: 1px solid #f4f4f4;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  /* background-color: aqua; */
}

.profile-img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.user-name {
  font-size: 0.8rem;
  margin-left: 10px;
}

/* ====================== CONVERSATION DIV ==================== */

.conversation-div {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 70vh;
  padding-left: 40px;
  padding-right: 40px;
  overflow-y: auto;
}

.message-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: aqua; */
}

.msg-img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.image-div {
  /* width: 10%; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message {
  /* background-color: beige; */
  text-align: center;
  margin-left: 10px;
  font-size: 0.8rem;
}

.time {
  /* width: 10%; */
  font-size: 0.8rem;
  color: #979797;
}

/* ====================== CONVERSATION DIV ==================== */

/* ====================== REPLY DIV ==================== */

.reply-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  /* background-color: aquamarine; */
}

.reply-input-group {
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 100%;
  height: 35px;
  margin-left: 20px;
  color: #e6e6e6;
  padding-left: 20px;
}

.reply-input {
  border: none;
  width: 95%;
  color: #333333;
  outline: none;
  font-family: 'SourceSansPro';
}

/* ====================== REPLY DIV ==================== */

.tweet-customer {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  /* justify-content: center; */
}

.customer-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.customer-name {
  font-size: 0.9rem;
}

.online-txt {
  margin-top: 5px;
  font-size: 0.7rem;
  color: #68c24f;
}

.contact-customer {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.contact-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  background-color: #f6f6f6;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  margin: 5px;
  color: #121212;
}

.contact-cell-content {
  padding-left: 5px;
  color: #121212;
}
