.tweet-body {
  display: flex;
  flex-direction: row;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 85%;
  height: 80vh;
  margin-top: 10px;
  margin-left: 20px;
}

.tweet-conversation {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: 1px solid #e6e6ee;
}

.user-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3vh;
  /* justify-content: center; */
  border-bottom: 1px solid #f4f4f4;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  /* background-color: aqua; */
}

.profile-img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.user-name {
  font-size: 0.8rem;
  margin-left: 10px;
}

/* ====================== CONVERSATION DIV ==================== */

.conversation-div {
  display: flex;
  height: 70vh;
}

/* ====================== CONVERSATION DIV ==================== */



/* ====================== REPLY DIV ==================== */

.reply-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  /* background-color: aquamarine; */
}

.reply-input-group {
  display: flex;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 100%;
  height: 35px;
  margin-left: 20px;
  color: #e6e6e6;
  padding-left: 20px;

}

.reply-input {
  border: none;
  width: 95%;
  color: #333333;
}

/* ====================== REPLY DIV ==================== */

.tweet-customer {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.customer-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contact-customer {
  display: flex;
  flex-direction: row;
}

.contact-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  background-color: #e6e6e6;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin: 5px;
}

.contact-cell-content {
  padding-left: 5px;
}